<div class="off-canvas">
    <ul>
        <li><a href="#speed">Speed</a></li>
        <li><a href="#usability">Usability</a></li>
        <li><a href="#security">Security</a></li>
        <li><a href="#seo">SEO</a></li>
    </ul>
</div>
